/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #343131;
    color: #A04747;
    font-size: 16px;
    font-family: monospace;
}

a {
    color: #A04747;
}

h1 {
    color: #A04747;
    font-size: x-large;
}

h2 {
    color: #D8A25E;
    font-style: italic;
}

h3 {
    color: rgb(149, 173, 163);
    font-size: smaller;
}

img {
    width: 250px;
    margin-right: 16px;
    margin: auto;
}

div {
    background-color: #EEDF7A;
    text-align: center;
    padding: 50px;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 30px auto;
    border: 8px solid #D8A25E;
    border-radius: 30px;
}

.chelsea-market-regular {
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
}

.maintext {
    font-size: larger;
    color: cornsilk;
    text-align: center;
}

.header {
    border: 1px solid #D8A25E;
    margin: 12px;
}

.paragraph {
    color: rgb(149, 173, 163);
    text-align: justify;
}

.list {
    color: rgb(196, 253, 110);
}

.Selector {
    color: #a8bbbb;
    font-size: larger;
}

a:visited {
    color: rgb(208, 117, 208);
}

ul, ol {
  margin: auto;
  padding: auto;
}